html {
    position: relative;
    min-height: 100%;

}

ul {
    opacity: 0.7;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    font-size: 13;
    font-family: Arial, Helvetica, sans-serif;
    margin: 9px;
}
.left {
    float: left;
    padding: 9px 15px;
    
}
.right {
   float: right; 
   padding: 9px 15px;
}
.square {
    width: 26px;
    opacity: 0.6;
    vertical-align: middle;
}
.square:hover {
    opacity: 1.0;
   }

.signin {
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(20, 108, 241);
   line-height: 20px;
   border-radius: 2px;   
}
li a:hover {
    text-decoration: underline;
}

.logo {
    display: block;
    margin: auto;
    width: 100%;
    padding: 150px 200px 10px 380px;
    
}

#search-box input {
    display: block;
    margin: auto;
    width: 40%;
    padding: 15px 60px 15px 60px; 
    border-color: rgba(194, 194, 194, 0.897);
   border-radius: 50px;
   border-style: solid;
}

#search-box input:hover {
 box-shadow: 5px 5px 5px #bdbdbd;
}

.search-buttons {
    display: flex;
    justify-content: center;
}

.search-button {
    border: none;
    background-color: rgb(236, 236, 236);
    color: rgb(63, 63, 63);
    border-radius: 2px;
   line-height: 30px;
   margin: 30px 5px;
   

}

.search-button:hover {
    border: 1px solid darkgrey;
}
   
 
footer {
position: fixed;
bottom: 0;
right: 0;
left: 0;
    background: rgb(228, 228, 228);
    font-size: 15;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 100%;
    padding-top: 15px;
padding-bottom: 10px;

}

ls { 
    margin: 5px;
    
}

.left-footer {
    margin-left: 10px;
    float: left;
 
}

.right-footer {
    margin-right: 10px;
    float: right;

}


   
   

